<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Insertar datos cliente del nuevo cliente</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="onSubmmit()">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" formControlName="nombre">
            </div>
            <div class="mb-3">
              <label for="apellidos" class="form-label">Apellidos</label>
              <input type="text" class="form-control" id="apellidos" formControlName="apellidos">
            </div>
            <div class="mb-3">
              <label for="pais" class="form-label">Pais</label>
              <input type="text" class="form-control" id="pais" formControlName="pais">
            </div>
            <div class="mb-3">
              <label for="dni" class="form-label">DNI</label>
              <input type="text" class="form-control" id="dni" formControlName="dni">
            </div>
            <div class="mb-3">
              <label for="telefono" class="form-label">Telefono</label>
              <input type="text" class="form-control" id="telefono" formControlName="telefono">
            </div>

            <div class="mb-3">
              <label for="telefono" class="form-label">Tipos de tramites:</label>
             @for (item of tramites; track $index) {
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="valorTramites" formControlName="valorTramites">
                <label class="form-check-label" for="flexCheckChecked" >
                  {{item}}
                </label>
              </div>
             }            
            </div>
            <div class="mb-3">
              <label for="cantidadPagos" class="form-label">Cantidad de pagos</label>
              <input type="text" class="form-control" id="cantidadPagos" formControlName="cantidaPagos">
            </div>
            <div class="mb-2">
              <label for="cantidadPagos" class="form-label">Comentarios</label>
            </div>
            <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" formControlName="comentario"></textarea>
              <label for="floatingTextarea2">Escriba un comentario sobre el cliente</label>
            </div>  
            
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Añadir nuevo cliente</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
